:root {
	--color-gray-100: #f8f9fc;
	--color-gray-200: #f1f3f9;
	--color-gray-300: #dee3ed;
	--color-gray-400: #c2c9d6;
	--color-gray-500: #8f96a3;
	--color-gray-600: #5e636e;
	--color-gray-700: #2f3237;
	--color-gray-800: #1d1e20;
	--color-gray-900: #111213;
	--color-accent: rgb(47, 255, 0);
	--color-accent-rgba: rgba(74, 255, 0, 0.7);

	--color-warn: #ebcb8b;
	--color-success: #a3be8c;
	--color-warn-hover: #ebcb8b60;
	--color-success-hover: #a3be8c60;
	--border-radius: 0.5rem;
	--spacing: 0.5;
	--border-size: 0.25rem;
}

* {
	font-family: -apple-system, "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}

select {
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--color-gray-700);
	color: var(--color-gray-100);
}
select option {
	background-color: var(--color-gray-700);
	color: var(--color-gray-100);
	border: none;
	outline: none;
	border-radius: var(--border-radius);
}
select option:hover {
	background-color: var(--color-accent-rgba);
}

body {
	overflow-y: scroll;
	min-height: 100%;
	min-width: 100%;
	color: var(--color-gray-100);
	background-color: var(--color-gray-800);
}

hr {
	margin-left: calc(var(--spacing) * 2rem);
	margin-right: calc(var(--spacing) * 2rem);
	min-width: 90%;
	color: var(--color-gray-600);
}

figure {
	margin: 0;
}

figcaption {
	right: 50px;
	color: var(--color-gray-500);
	margin-left: calc(var(--spacing) * 2rem);
	font-size: smaller;
}

a {
	text-decoration: none;
	padding-bottom: 0;
	border-bottom: var(--color-gray-400) 1px dotted;
	color: var(--color-gray-400);
}

a:visited {
	border-bottom: var(--color-gray-600) 1px dotted;
	color: var(--color-gray-600);
}

a[href*="https"]::after {
	content: "\f08e";
	font: var(--fa-font-solid);
	margin-left: calc(var(--spacing) * 0.2rem);
	font-size: small;
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

a:hover {
	color: var(--color-accent);
	border-bottom: var(--color-accent) 1px dotted;
}
blockquote {
	background-color: var(--color-gray-900);
	padding: calc(var(--spacing) * 2rem);
	border-left: var(--border-size) solid var(--color-accent);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	color: var(--color-gray-500);
	margin: 0;
}
blockquote .author {
	color: var(--color-gray-100) !important;
}
source,
video,
iframe {
	aspect-ratio: 16/9;
	min-width: 100%;
	min-height: 100%;
	border-radius: var(--border-radius);
	border: none;
}
.gray-200 {
	color: var(--color-gray-200);
}
.gray-300 {
	color: var(--color-gray-300);
}
.gray-400 {
	color: var(--color-gray-400);
}
.gray-500 {
	color: var(--color-gray-500);
}
.gray-600 {
	color: var(--color-gray-600);
}
.gray-700 {
	color: var(--color-gray-700);
}
.gray-800 {
	color: var(--color-gray-800);
}
.gray-900 {
	color: var(--color-gray-900);
}
.bg-gray-100 {
	background-color: var(--color-gray-100);
}
.bg-gray-200 {
	background-color: var(--color-gray-200);
}
.bg-gray-300 {
	background-color: var(--color-gray-300);
}
.bg-gray-400 {
	background-color: var(--color-gray-400);
}
.bg-gray-500 {
	background-color: var(--color-gray-500);
}
.bg-gray-600 {
	background-color: var(--color-gray-600);
}
.bg-gray-700 {
	background-color: var(--color-gray-700);
}
.bg-gray-800 {
	background-color: var(--color-gray-800);
}
.bg-gray-900 {
	background-color: var(--color-gray-900);
}

/*font overwrites*/
.ft-italic {
	font-style: italic;
}
.ft-bold {
	font-weight: bold;
}
/*-----*/
footer {
	background-color: var(--color-gray-900);
	padding: calc(var(--spacing) * 4rem);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
footer h2::before {
	position: relative;
	left: 0;
	content: "\f669";
	font: var(--fa-font-solid);
	margin-right: calc(var(--spacing) * 0.2rem);
	font-size: big;
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

footer h2:hover {
	color: var(--color-accent);
	cursor: pointer;
}
footer .footer-left {
	grid-column: 1 / 2;
	justify-self: center;
	align-self: center;
}
footer aside {
	grid-column: 3/-1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	justify-self: center;
	align-self: center;
}
footer div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: calc(var(--spacing) * 1rem);
	margin-right: calc(var(--spacing) * 2rem);
	justify-items: center;
}
footer div a {
	margin-top: calc(var(--spacing) * 0.25rem);
	margin-bottom: calc(var(--spacing) * 0.25rem);
	border: none;
	color: var(--color-gray-500);
}
footer div a:hover {
	border: none;
	color: var(--color-gray-700);
}
footer div h4 {
	margin: 0;
	font-size: large;
	margin-bottom: calc(var(--spacing) * 0.5rem);
}
#navbar {
	background-color: var(--color-gray-900);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	/* margin: 0;
	position: sticky;
	top: 0; */
	/*box-shadow: 0 0 1em var(--color-accent);*/
	user-select: none;
	-webkit-user-drag: none;
}
.navbar-link-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top: 1px solid var(--color-gray-700);
}
.navbar-logo {
	font-size: 2rem;
	margin-bottom: calc(var(--spacing) * 2rem);
	border: none;
	color: var(--color-gray-100) !important;
}
.navbar-logo:hover {
	text-shadow: 0 0 1em var(--color-accent);
	border: none;
}
.nav-link {
	text-decoration: none;
	padding: calc(var(--spacing) * 2rem);
	color: var(--color-gray-500);
	border-left: 1px solid var(--color-gray-700);
	border-bottom: 1px solid transparent;
}
.nav-link:hover {
	border-bottom: 1px solid transparent;
	color: var(--color-gray-100);
}
.nav-link:last-child {
	border-right: 1px solid var(--color-gray-700);
}
.nav-link#active {
	color: var(--color-gray-100);
	border-bottom: 1px solid var(--color-accent);
}
.container {
	padding: calc(var(--spacing) * 4rem);
	padding-top: calc(var(--spacing) * 2rem);
	margin: calc(var(--spacing) * 2rem);
	margin-top: calc(var(--spacing) * 1rem);
}
.container-flex {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container-flex-row {
	height: 100%;
	display: flex;
	align-items: start;
	/* justify-content: center; */
	flex-direction: row;
}
.error-heading {
	font-size: calc(var(--spacing) * 10rem);
	font-family: "Starjedi";
}
.starwars-font {
	font-family: "Starjedi";
}

.card {
	border-radius: calc(var(--spacing) * 1.5rem);
	margin: calc(var(--border-radius) * 2);
	padding: calc(var(--border-radius) * 2);
}

.card > *:not(h3) {
	margin-top: calc(var(--spacing) * 2rem);
	margin-bottom: calc(var(--spacing) * 2rem);
}

.flex {
	display: flex;
}

.card h3 {
	margin-top: 0;
}

.image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 1);
	max-width: 100%;
	max-height: 100%;
}

.small-image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 2);
	width: 80%;
}

.big-image {
	border-radius: calc(var(--spacing) * 3rem);
}

.card img {
	max-height: calc(var(--spacing) * 30rem);
	margin: 0;
}

.card span,
.card p {
	color: var(--color-gray-400);
}

.card-container {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

.card-container-home .card:nth-child(2) {
	grid-column: 2 / -1;
}

.card-container-home .card:nth-child(3) {
	grid-column: 1 / 4;
}

.card-container-home .card:nth-child(4) {
	grid-column: 4 / -1;
}

.card-container-home .card:nth-child(5) {
	grid-column: 1 / 2;
}

.card-container-home .card:nth-child(6) {
	grid-column: 2 / -1;
}

.card-container-home .card:nth-child(7) {
	grid-column: 1 / 4;
}

.card-container-home .card:nth-child(8) {
	grid-column: 4 / -1;
}
.card-container .card div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

/* Homepage styles */
.homepage-container {
	padding-top: calc(var(--spacing) * 5rem);
}
/*----*/
/* Clan styles */
.clan-logo {
	height: 10rem;
	background-color: var(--color-gray-100);
}
.clan-logo-container {
	display: flex;
	justify-content: space-between;
	margin-right: 5rem;
	margin-left: 5rem;
}
.clan-logo-name {
	font-size: 2rem;
	text-align: center;
}
.clan-logo-subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clan-logo-summary-text {
	background-color: var(--color-gray-700);
	padding: 2px;
	width: 200px;
	border: 2rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 2rem;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: var(--border-size);
	border: calc(var(--border-size) / 2) solid var(--color-gray-600);
}
table th,
table td,
table tr {
	padding: calc(var(--border-size) * 2);
	border: calc(var(--border-size) / 2) solid var(--color-gray-500);
	color: var(--color-gray-400);
}
table td {
	background-color: var(--color-gray-800);
	color: var(--color-gray-400);
}

/*Timeline styles*/
.timeline-container {
	max-width: 100%;
	overflow-x: scroll;
}
.timeline-table {
	width: fit-content;
}
.timeline-heading {
	background-color: var(--color-gray-700) !important;
}
.timeline-years {
	background-color: var(--color-gray-600) !important;
}
.timeline-table * {
	color: var(--color-gray-100) !important;
}
.timeline-table tr,
.timeline-table tr td,
.timeline-table tr {
	border-top: none !important;
	border-bottom: none !important;
	background-color: var(--color-gray-900);
}
.timeline-table td[class*="legende"] {
	text-align: center;
}
.legende-mandalorian {
	background-color: lightblue !important;
}
.legende-rebels {
	background-color: violet !important;
}
.legende-bobf {
	background-color: burlywood !important;
}
.legende-tcw {
	background-color: coral !important;
}
.legende-atc {
	background-color: salmon !important;
}

.card-container-timeline .card:nth-child(1) {
	grid-column: 1 / 2;
}

.card-container-timeline .card:nth-child(2) {
	grid-column: 2 / 3;
}

.card-container-timeline .card:nth-child(3) {
	grid-column: 3 / -1;
}

.card-container-timeline .card:nth-child(4) {
	grid-column: 1 / 4;
}
.card-container-timeline .card:nth-child(5) {
	grid-column: 4 / -1;
}
/*----*/
.contact-formular {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.contact-container * {
	margin: 0;
}
.contact-container div {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: calc(var(--spacing) * 2rem);
}
.contact-container label {
	user-select: none;
	cursor: pointer;
}
.contact-container div:nth-child(5),
.contact-container div:nth-child(4) {
	justify-content: space-between;
	flex-direction: row;
}
.contact-formular input:not(input[type="checkbox"]),
.contact-formular button {
	font-size: 1.05rem;
	border: none;
	width: 100%;
	border-radius: var(--border-radius);
	padding: calc(var(--spacing) * 1rem);
	margin: calc(var(--spacing) * 1rem);
	margin-left: 0;
	background-color: var(--color-gray-700);
	color: var(--color-gray-100);
}
.contact-formular input[type="submit"] {
	background-color: var(--color-gray-600) !important;
	margin-top: 3rem !important;
	cursor: pointer;
}
.contact-formular input:focus {
	outline: 1px solid var(--color-accent);
}
.contact-formular textarea {
	background-color: var(--color-gray-700);
	border: none;
	border-radius: var(--border-radius);
	color: var(--color-gray-100);
	padding: calc(var(--spacing) * 1rem);
}
.contact-formular textarea:focus {
	outline: 1px solid var(--color-accent);
}

.warning,
.success {
	margin: calc(var(--spacing) * 2rem);
	padding: calc(var(--spacing) * 2rem);
	font-size: large;
}
.warning {
	background-color: var(--color-warn-hover);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-warn);
}

.success {
	background-color: var(--color-success-hover);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-success);
}
.warning pre,
.success pre {
	display: inline;
}
.success::before,
.warning::before {
	font: var(--fa-font-solid);
	margin-right: calc(var(--spacing) * 2rem);
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.success::before {
	content: "\f058";
}
.warning::before {
	content: "\f057";
}

.backtotop {
	padding: calc(var(--spacing) * 2rem);
	margin: calc(var(--spacing) * 5rem);
	/* background-color: var(--color-gray-600); */
	border-radius: var(--border-radius);
	position: fixed;
	bottom: 0;
	right: 0;
}

.backtotop-anchor {
	font-size: 1.05rem;
	color: var(--color-gray-100) !important;
	text-decoration: none;
	border: none;
}
.backtotop-anchor::before {
	position: absolute;
	content: "\f102";
	font: var(--fa-font-solid);
	margin: calc(var(--spacing) * 0.2rem);
	font-size: 2rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.backtotop-anchor:hover,
.back-anchor:hover {
	color: var(--color-gray-400) !important;
	border: none;
}
.back-anchor {
	border-radius: var(--border-radius);
	margin: calc(var(--spacing) * 0.2rem);
	top: 0;
	position: sticky;
	background-color: var(--color-gray-600);
	color: var(--color-gray-100) !important;
	padding: calc(var(--spacing) * 1rem);
}
@media screen and (max-width: 1200px) {
	.contact-formular {
		width: 100%;
	}
	.card-container-home,
	.card-container-timeline {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}
