:root {
	--color-gray-100: #f8f9fc;
	--color-gray-200: #f1f3f9;
	--color-gray-300: #dee3ed;
	--color-gray-400: #c2c9d6;
	--color-gray-500: #8f96a3;
	--color-gray-600: #5e636e;
	--color-gray-700: #2f3237;
	--color-gray-800: #1d1e20;
	--color-gray-900: #111213;
	--color-accent: #a97bfd;
	--color-accent-rgb: 255, 0, 0;
	--border-radius: 0.5rem;
	--spacing: 0.5;
	--border-size: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	color: var(--color-gray-100);
	background-color: var(--color-gray-800);
	font-family: -apple-system, "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

a {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: var(--color-gray-100);
}
a:hover {
	color: var(--color-accent);
}

.gray-100 {
	color: var(--color-gray-100);
}
.gray-200 {
	color: var(--color-gray-200);
}
.gray-300 {
	color: var(--color-gray-300);
}
.gray-400 {
	color: var(--color-gray-400);
}
.gray-500 {
	color: var(--color-gray-500);
}
.gray-600 {
	color: var(--color-gray-600);
}
.gray-700 {
	color: var(--color-gray-700);
}
.gray-800 {
	color: var(--color-gray-800);
}
.gray-900 {
	color: var(--color-gray-900);
}
.bg-gray-100 {
	background-color: var(--color-gray-100);
}
.bg-gray-200 {
	background-color: var(--color-gray-200);
}
.bg-gray-300 {
	background-color: var(--color-gray-300);
}
.bg-gray-400 {
	background-color: var(--color-gray-400);
}
.bg-gray-500 {
	background-color: var(--color-gray-500);
}
.bg-gray-600 {
	background-color: var(--color-gray-600);
}
.bg-gray-700 {
	background-color: var(--color-gray-700);
}
.bg-gray-800 {
	background-color: var(--color-gray-800);
}
.bg-gray-900 {
	background-color: var(--color-gray-900);
}

/*font overwrites*/
.ft-italic {
	font-style: italic;
}
.ft-bold {
	font-weight: bold;
}
/*-----*/

nav#navbar {
	background-color: var(--color-gray-900);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	/* margin: 0;
	position: sticky;
	top: 0; */
	/*box-shadow: 0 0 1em var(--color-accent);*/
	user-select: none;
	-webkit-user-drag: none;
}
.navbar-link-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top: 1px solid var(--color-gray-700);
}
.navbar-logo {
	font-size: 2rem;
	margin-bottom: calc(var(--spacing) * 2rem);
}
.navbar-logo:hover {
	text-shadow: 0 0 1em var(--color-accent);
}
.nav-link {
	text-decoration: none;
	padding: calc(var(--spacing) * 2rem);
	color: var(--color-gray-500);
	border-left: 1px solid var(--color-gray-700);
	border-bottom: 1px solid var(--color-gray-900);
}
.nav-link:hover {
	color: var(--color-gray-100);
}
.nav-link:last-child {
	border-right: 1px solid var(--color-gray-700);
}
.nav-link#active {
	color: var(--color-gray-100);
	border-bottom: 1px solid var(--color-accent);
}
.container {
	padding: calc(var(--spacing) * 4rem);
	padding-top: calc(var(--spacing) * 2rem);
	margin: calc(var(--spacing) * 2rem);
	margin-top: calc(var(--spacing) * 1rem);
}
.container-flex {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container-flex-row {
	height: 100%;
	display: flex;
	align-items: start;
	/* justify-content: center; */
	flex-direction: row;
}
.box {
	border-radius: calc(var(--spacing) * 1.5rem);
	box-shadow: rgba(var(--color-accent-rgb), 0.25) 0px 50px 100px -20px,
		rgba(var(--color-accent-rgb), 0.3) 0px 30px 60px -30px;
}
.error-heading {
	font-size: calc(var(--spacing) * 10rem);
	font-family: "Starjedi";
}
.starwars-font {
	font-family: "Starjedi";
}

.card {
	border-radius: calc(var(--spacing) * 1.5rem);
	margin: calc(var(--border-radius) * 2);
	max-width: fit-content;
	padding: calc(var(--border-radius) * 2);
}

.card-flex {
	display: flex;
}

.card h3 {
	margin-top: 0;
}

.image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 1);
	max-width: 100%;
	max-height: 100%;
}

.small-image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 2);
	width: 80%;
}

.big-image {
	border-radius: calc(var(--spacing) * 3rem);
}

.card img {
	max-height: calc(var(--spacing) * 30rem);
}

.card span,
.card p {
	color: var(--color-gray-500);
}

.card-container {
	display: flex;
	flex-direction: row;
}

.card-container .card {
	flex-grow: 1;
}

.card-container .card.big-card {
	flex-grow: 2;
}

.card-container .card.biggest-card {
	flex-grow: 3;
}

/* Homepage styles */
.homepage-container {
	padding-top: calc(var(--spacing) * 5rem);
}
/*----*/
/* Clan styles */
.clan-logo {
	height: 10rem;
	background-color: var(--color-gray-100);
}
.clan-logo-container {
	display: flex;
	justify-content: space-between;
	margin-right: 5rem;
	margin-left: 5rem;
}
.clan-logo-name {
	font-size: 2rem;
	text-align: center;
}
.clan-logo-subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clan-logo-summary-text {
	background-color: var(--color-gray-700);
	padding: 2px;
	width: 200px;
	border: 2rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 2rem;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: var(--border-size);
	border: calc(var(--border-size) / 2) solid var(--color-gray-600);
}
table th,
table td,
table tr {
	padding: calc(var(--border-size) * 2);
	border: calc(var(--border-size) / 2) solid var(--color-gray-500);
	color: var(--color-gray-400);
}
table td {
	background-color: var(--color-gray-800);
	color: var(--color-gray-400);
}

/*Timeline styles*/
.timeline-table {
	width: fit-content;
}
.timeline-heading {
	background-color: var(--color-gray-700) !important;
}
.timeline-years {
	background-color: var(--color-gray-600) !important;
}
.timeline-table * {
	color: var(--color-gray-100) !important;
}
.timeline-table tr,
.timeline-table tr td,
.timeline-table tr {
	border-top: none !important;
	border-bottom: none !important;
	background-color: var(--color-gray-900);
}
.legende-mandalorian {
	background-color: lightblue !important;
}
.legende-rebels {
	background-color: violet !important;
}
.legende-bobf {
	background-color: burlywood !important;
}
.legende-tcw {
	background-color: coral !important;
}
.legende-atc {
	background-color: salmon !important;
}
@media screen and (max-width: 1200px) {
	.card-container {
		flex-direction: column;
	}
}
