:root {
	--color-gray-100: #f8f9fc;
	--color-gray-200: #f1f3f9;
	--color-gray-300: #dee3ed;
	--color-gray-400: #c2c9d6;
	--color-gray-500: #8f96a3;
	--color-gray-600: #5e636e;
	--color-gray-700: #2f3237;
	--color-gray-800: #1d1e20;
	--color-gray-900: #111213;
	--color-accent: #26ff00;
	--border-radius: 0.5rem;
	--spacing: 0.5;
	--border-size: 0.25rem;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	color: var(--color-gray-100);
	background-color: var(--color-gray-800);
	font-family: -apple-system, "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

a {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: var(--color-gray-100);
}

a[href*="https"]::after {
	content: url("/assets/images/extern_link.svg");
	zoom: 25%;
}

a:hover {
	color: var(--color-accent);
}
blockquote {
	background-color: var(--color-gray-900);
	padding: calc(var(--spacing) * 2rem);
	border-left: var(--border-size) solid var(--color-accent);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	color: var(--color-gray-500);
	font-style: italic;
	margin: 0;
}
blockquote .author {
	color: var(--color-gray-100) !important;
}
iframe {
	width: 100%;
	height: 100vh;
	border-radius: var(--border-radius);
}
.gray-200 {
	color: var(--color-gray-200);
}
.gray-300 {
	color: var(--color-gray-300);
}
.gray-400 {
	color: var(--color-gray-400);
}
.gray-500 {
	color: var(--color-gray-500);
}
.gray-600 {
	color: var(--color-gray-600);
}
.gray-700 {
	color: var(--color-gray-700);
}
.gray-800 {
	color: var(--color-gray-800);
}
.gray-900 {
	color: var(--color-gray-900);
}
.bg-gray-100 {
	background-color: var(--color-gray-100);
}
.bg-gray-200 {
	background-color: var(--color-gray-200);
}
.bg-gray-300 {
	background-color: var(--color-gray-300);
}
.bg-gray-400 {
	background-color: var(--color-gray-400);
}
.bg-gray-500 {
	background-color: var(--color-gray-500);
}
.bg-gray-600 {
	background-color: var(--color-gray-600);
}
.bg-gray-700 {
	background-color: var(--color-gray-700);
}
.bg-gray-800 {
	background-color: var(--color-gray-800);
}
.bg-gray-900 {
	background-color: var(--color-gray-900);
}

/*font overwrites*/
.ft-italic {
	font-style: italic;
}
.ft-bold {
	font-weight: bold;
}
/*-----*/

nav#navbar {
	background-color: var(--color-gray-900);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	/* margin: 0;
	position: sticky;
	top: 0; */
	/*box-shadow: 0 0 1em var(--color-accent);*/
	user-select: none;
	-webkit-user-drag: none;
}
.navbar-link-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top: 1px solid var(--color-gray-700);
}
.navbar-logo {
	font-size: 2rem;
	margin-bottom: calc(var(--spacing) * 2rem);
}
.navbar-logo:hover {
	text-shadow: 0 0 1em var(--color-accent);
}
.nav-link {
	text-decoration: none;
	padding: calc(var(--spacing) * 2rem);
	color: var(--color-gray-500);
	border-left: 1px solid var(--color-gray-700);
	border-bottom: 1px solid var(--color-gray-900);
}
.nav-link:hover {
	color: var(--color-gray-100);
}
.nav-link:last-child {
	border-right: 1px solid var(--color-gray-700);
}
.nav-link#active {
	color: var(--color-gray-100);
	border-bottom: 1px solid var(--color-accent);
}
.container {
	padding: calc(var(--spacing) * 4rem);
	padding-top: calc(var(--spacing) * 2rem);
	margin: calc(var(--spacing) * 2rem);
	margin-top: calc(var(--spacing) * 1rem);
}
.container-flex {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container-flex-row {
	height: 100%;
	display: flex;
	align-items: start;
	/* justify-content: center; */
	flex-direction: row;
}
.error-heading {
	font-size: calc(var(--spacing) * 10rem);
	font-family: "Starjedi";
}
.starwars-font {
	font-family: "Starjedi";
}

.card {
	border-radius: calc(var(--spacing) * 1.5rem);
	margin: calc(var(--border-radius) * 2);
	max-width: fit-content;
	padding: calc(var(--border-radius) * 2);
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.card h3 {
	margin-top: 0;
}

.image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 1);
	max-width: 100%;
	max-height: 100%;
}

.small-image {
	border-radius: calc(var(--spacing) * 3rem);
	margin: calc(var(--border-radius) * 2);
	width: 80%;
}

.big-image {
	border-radius: calc(var(--spacing) * 3rem);
}

.card img {
	max-height: calc(var(--spacing) * 30rem);
	margin: 0;
}

.card span,
.card p {
	color: var(--color-gray-500);
}

.card-container {
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

.card-container-home .card:nth-child(2) {
	grid-column: 2 / -1;
}

.card-container-home .card:nth-child(3) {
	grid-column: 1 / 4;
}

.card-container-home .card:nth-child(4) {
	grid-column: 4 / -1;
}

.card-container-home .card:nth-child(5) {
	grid-column: 1 / 2;
}

.card-container-home .card:nth-child(6) {
	grid-column: 2 / -1;
}

.card-container .card div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: calc(var(--spacing) * 1rem);
}

/* Homepage styles */
.homepage-container {
	padding-top: calc(var(--spacing) * 5rem);
}
/*----*/
/* Clan styles */
.clan-logo {
	height: 10rem;
	background-color: var(--color-gray-100);
}
.clan-logo-container {
	display: flex;
	justify-content: space-between;
	margin-right: 5rem;
	margin-left: 5rem;
}
.clan-logo-name {
	font-size: 2rem;
	text-align: center;
}
.clan-logo-subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clan-logo-summary-text {
	background-color: var(--color-gray-700);
	padding: 2px;
	width: 200px;
	border: 2rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 2rem;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: var(--border-size);
	border: calc(var(--border-size) / 2) solid var(--color-gray-600);
}
table th,
table td,
table tr {
	padding: calc(var(--border-size) * 2);
	border: calc(var(--border-size) / 2) solid var(--color-gray-500);
	color: var(--color-gray-400);
}
table td {
	background-color: var(--color-gray-800);
	color: var(--color-gray-400);
}

/*Timeline styles*/
.timeline-container {
	max-width: 100%;
	overflow-x: scroll;
}
.timeline-table {
	width: fit-content;
}
.timeline-heading {
	background-color: var(--color-gray-700) !important;
}
.timeline-years {
	background-color: var(--color-gray-600) !important;
}
.timeline-table * {
	color: var(--color-gray-100) !important;
}
.timeline-table tr,
.timeline-table tr td,
.timeline-table tr {
	border-top: none !important;
	border-bottom: none !important;
	background-color: var(--color-gray-900);
}
.timeline-table td[class*="legende"] {
	text-align: center;
}
.legende-mandalorian {
	background-color: lightblue !important;
}
.legende-rebels {
	background-color: violet !important;
}
.legende-bobf {
	background-color: burlywood !important;
}
.legende-tcw {
	background-color: coral !important;
}
.legende-atc {
	background-color: salmon !important;
}

.card-container-timeline .card:nth-child(1) {
	grid-column: 1 / 2;
}

.card-container-timeline .card:nth-child(2) {
	grid-column: 2 / 3;
}

.card-container-timeline .card:nth-child(3) {
	grid-column: 3 / -1;
}

.card-container-timeline .card:nth-child(4) {
	grid-column: 1 / 4;
}
.card-container-timeline .card:nth-child(5) {
	grid-column: 4 / -1;
}
/*----*/
@media screen and (max-width: 1200px) {
	.card-container-home,
	.card-container-timeline {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* .timeline-table {
		display: none;
	} */
	iframe {
		width: 100%;
		height: 100%;
		aspect-ratio: 16 / 9;
	}
}
